/*Importando fonte do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Atrbuir CSS para todas as páginas*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*Remove traço inferior abaixo do link do menu*/
}
body{
    background-color: rgb(12, 16, 17);
}

.text-test{
    color: lightcyan;
    margin-bottom: 20px;
    font-family: 'Ubuntu', 'sans-serif';
}

.max-width{
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}

.navbar .logo a{
    color: #547ec7;
    font-size: 35px;
    font-weight: 500;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #121721;
    border-bottom: solid #1b202a 1px;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none; /*Remove as bolinhas do menu*/
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400; /*Expessura da borda*/
    margin-left: 25px; /*Margem entre os itens do menú*/
}

/*Icone Bars*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer; /*Troca o ponteiro do mouse pela mão para links clicáveis*/
    display: none; /* Esconder icone quando for site*/ 
}

/* Menu responsivo*/
/*Apresentar icone Bars somente quando tela for maior que 947PX*/
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        background-color: #121721;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease; /*Transição Bars*/
    }

    /*Ativar quando o menu for ativo*/
    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li{
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }

    .max-width{
        max-width: 930px;
    }
}

/*Personalizar a parte do topo*/
.top{
    color: #fff;
    display: flex;
    background: url("/images/70f615b1d08655ad82a08b60ce8b6ff3.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed; /*Determina que o background é fixo sobre o que o usuario esta visualizando*/
    font-family: 'Ubuntu', sans-serif;
}

.top .max-width{
    width: 100%;
    display: flex;
}

.top .top-content .text-1{
    font-size: 25px;
}

.top .top-content .text-2{
    font-size: 55px;
    font-weight: 300;
    margin-left: -3px;
}

.top .top-content .text-3{
    font-size: 32px;
    margin: 5px 0;
}

.top .top-content a{
    display: inline-block;
    background: #b02ab7;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px ;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid #b02ab7;
    transition: 0.3s;
    
}

/*Somente quando o usuario passar o mouse*/
.top .top-content a:hover{
    color: #b02ab7;
    background: none;
}


.services{
    color: #fff;
    background-color: #0c0f16;
    font-family: 'Poppins', sans-serif;
}

.services .serv-content{
    display: flex; /*Coloca em display flex*/
    flex-wrap: wrap; /*em linha*/
    align-items: center;
    justify-content: space-between;
}
.services .title{
    text-align: center;
    margin: 40px 0;
    font-weight: 400; /*Espessura da fonte*/
    font-size: 35px;
}
/*Cards Serviço*/
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #1b202a;
    text-align: center;
    border-radius: 6px; /*Arredondar a borda*/
    padding: 50px 25px;
    cursor: pointer; /*Altera de seta para mão*/
    transition: all 0.3s ease; /*Efeito de transição ao passar o mouse*/
}

/*Ação quando usuário passa o mouse*/
.services .serv-content .card:hover{
    background: #b02ab7;
}

.services .serv-content .card i{
    font-size: 50px;
    color: #b02ab7;
    transition: all 0.3s ease;
}

/*Altera o icone para branco qdo passar o mouse*/
.services .serv-content .card:hover i{
    font-size: 50px;
    color: #fff;
}

.services .serv-content .card .box{
    transition: all 0.3s ease;   
}


.services .serv-content .card:hover .box{
    transform: scale(1.05);
}/*Quando o mouse passa aumenta o card*/


.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}/*Personaliza o texto do card*/

@media(max-width: 947px){
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media(max-width: 690px){
    .services .serv-content .card{
        width: 100%
    }
}